<script type"text/javascript">
  $(document).ready(function(){
    $("a.linked").click(function(){
      var id=$(this).attr("rel");
      window.location = "/cursos/"+id+"/edit";
    });
    $("a.ui-btn-right").click(function(){
      window.location = "/cursos/new";
    });
  });
</script>
<% content_for :header do%>
  <div data-role="header" data-position="inline">
    <h1>Listado de cursos</h1>
    <a href="#" class="ui-btn-right" data-icon="check" data-theme="b">Nuevo</a>
  </div>
<%end%>
<div data-role="content">
  <div class="content-primary"> 
    <ul data-role="listview" data-filter="true">
      <% @cursos.each do |curso| %>
        <li><a href="#" id="link1" class="linked" rel="<%=curso.id%>"><%= curso.nombre %></a></li>
      <% end %>
    </ul>
  </div>
</div>